<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{chapterName}} Free study material best NEET IIT-JEE Coaching in Delhi Vikaspuri Janakpuri Uttamnagar </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/eachChapter.css">
</head>
<body>

    <div class="container-fluid">
      <div class="well well-sm">
        <div class = "row">
          <div class = "col-sm-3">
           <img class ="img-responsive" src="/img/physicstree.png">     
          </div>  
          <div class = "col-sm-9">   
            <h1>The Physics Tree</h1>
            <h3>Best IIT JEE & NEET Coaching in Delhi (Janakpuri & Vikaspuri)</h2>
            <h3>Providing 5000+ topic-wise Physics Questions with solutions for all students </h3>        
            <h3>To Learn Physics or Chemistry from Best teachers please call or Whatsapp on 9560883948</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="well well-sm" style="text-align: center;"><a href="/index.html">Home</a></div>
  
      <div class="container-fluid" id="testDiv">
        <div class= "well well-sm" id="chapterHeading">
          <div class="text-center">
            <h1 id="chapterNumber">{{{chapterNumber}}}.
            <span id = "chapterName"> {{{chapterData.name}}}</span></h1>
            <img id = "chapterImage" class="center" src="/img/Index/Chapterwise/{{{chapterNumber}}}.png">   </img>
          </div>
          
        </div>
      </div>

      <div class="well well-sm" id="testDiv">
        <div class="text-center">
        <h3>Tests Section</h3>
        </div>
          {{#if chapterTests}}
                    <div class="row">
                        {{#each chapterTests}}
                        <div class="col-sm-3">
                          <div class="well well-sm" style="background-color:rgb(253, 235, 253)">
                            <div class ="text-center">
                              <h4 >{{this.name}}</h4>
                              <p >{{this.description}}</p>
                              <button class="btn btn-primary" onclick="SetTestName('{{this.name}}')">Take Test</button>
                              <p>OR</p>
                              <a class="centreFull" href="/testAsDPP/{{this.name}}">Open As DPP</a></li>
                            </div>
                          </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
      </div>
      

     

      

        <script src="/js/chapter.js"></script>



</body>


