<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{{title}}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/eachChapter.css">
</head>
<body>

    <div class="container-fluid">
      <div class="well well-sm">
        <div class = "row">
          <div class = "col-sm-3">
           <img class ="img-responsive" src="/img/physicstree.png">     
          </div>  
          <div class = "col-sm-9">   
            <h1>The Physics Tree</h1>
            <h3>Best IIT JEE & NEET Coaching in Delhi (Janakpuri & Vikaspuri)</h2>
            <h3>Providing 5000+ topic-wise Physics Questions with solutions for all students </h3>        
            <h3>To Learn Physics or Chemistry from Best teachers please call or Whatsapp on 9560883948</h3>
        </div>
      </div>
      </div>
  </div>
     
  
    <div class="container-fluid">
      <div class="well well-sm">
         <h4 class="centre">This question is from Chapter no.{{chapterNumber}} & name: {{chapterName}}</h3>
         <h4 class="centre">To find all IIT-JEE & NEET Questions of this chapter. You can
           go to our <a href="/chapter/{{chapterNumber}}">{{chapterName}}<a></a> Page.
         </h4>
       </div>
      </div>
  
      <div class="container-fluid" id="quesDiv">
        <div class= "well well-sm" id="chapterHeading">
          <h2 class="centre">Exam: {{examName}} & Year: {{examYear}}</h2>
          <p class = "well well-sm">{{{questionText}}}</p>
          <img class = "img-fluid" src="{{{imageSrc}}}">
          <p class="well well-sm">Answer: {{questionAnswer}}</p>          
        </div>
       </div>

       

       <div class="container-fluid">
         <div class="well well-sm">
         <h2>Solution</h2>
           <div class="video_wrapper">
           <iframe class="iframe" src="https://www.bing.com/search?q={{{title}}}"></iframe>
         </div>
        </div>
       </div>

        


      

     

      

        




<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>


